@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font-fam-heading: "Noto Sans", sans-serif;

    --radius--sm: 4px;
    --radius--md: 8px;
    --radius--lg: 12px;
    --radius--max: 100%;

    --clr-night-1: #101010;
    --clr-night-2: #161616;
    --clr-eerie-black-1: #1b1b1b;
    --clr-eerie-black-2: #222;
    --clr-grey: #c9c9c9;
    --clr-antiflash-white: #f3f6f7;
    --clr-seasalt: #f7f7f7;
    --clr-white: #fff;

    --clr-primary: #8783dd;
    --clr-primary--dark: #4f4d7a;
    --clr-primary--night: #21202a;

    --bg-body: var(--clr-night-1);
    --bg-layer: var(--clr-night-2);
    --clr-border: var(--clr-eerie-black-2);
    --clr-containers: var(--clr-night-2);
    --foreground: var(--clr-antiflash-white);

    --clr-menu-background: var(--clr-night-2);
}

:root:where([data-ncqx-scheme="light"]) {
    --font-fam-heading: "Playfair Display SC", serif;

    --radius--sm: 0;
    --radius--md: 0;
    --radius--lg: 0;

    --clr-eerie-black-2: #a4a4a4;
    --clr-primary--night: #e0dff6;

    --bg-body: var(--clr-white);
    --bg-layer: var(--clr-seasalt);
    --foreground: var(--clr-night-1);
    --clr-border: transparent;
    --clr-containers: var(--clr-night-2);

    --clr-menu-background: var(--clr-white);
}

* {
    outline-color: transparent;
}

input:focus-visible + label::before,
*:not(input):focus-visible {
    outline: 1px solid var(--clr-primary);
    outline-offset: 2px;
}

input:focus-visible {
    outline: none;
}

body {
    background-color: var(--bg-body);
    color: var(--foreground);
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    font-variation-settings: "wdth" 100;
}

header {
    background-color: var(--clr-containers);
    border-bottom: 1px solid var(--clr-border);
}

hr {
    border-color: var(--clr-border);
    margin: 1rem 0;
}

:where([data-ncqx-scheme="light"]) hr {
    border-color: var(--clr-grey);
}

footer {
    background-color: var(--clr-containers);
}

footer a:hover,
footer a:focus {
    color: var(--clr-antiflash-white);
}

nav a,
footer a,
#home-about {
    color: var(--clr-grey);
}

h1 {
    font-family: var(--font-fam-heading);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    font-family: var(--font-fam-heading);
    font-size: 24px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

button.primary-btn,
button[type="submit"] {
    background-color: var(--clr-antiflash-white);
    border-radius: var(--radius--md);
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--clr-eerie-black-2);
    min-height: 40px;
    font-weight: 500;
    flex-basis: 33%;
    transition: all 0.15s linear;
}

img,
video {
    max-width: 100%;
}

:where([data-ncqx-scheme="light"]) button.primary-btn,
:where([data-ncqx-scheme="light"]) button[type="submit"] {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

button.primary-btn:hover,
button.primary-btn:focus,
button.primary-btn:focus-visible,
button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:focus-visible {
    background-color: var(--clr-primary);
    color: var(--clr-night-1);
    transition: all 0.15s linear;
}

:where([data-ncqx-scheme="light"]) button.primary-btn:hover,
:where([data-ncqx-scheme="light"]) button.primary-btn:focus,
:where([data-ncqx-scheme="light"]) button.primary-btn:focus-visible,
:where([data-ncqx-scheme="light"]) button[type="submit"]:hover,
:where([data-ncqx-scheme="light"]) button[type="submit"]:focus,
:where([data-ncqx-scheme="light"]) button[type="submit"]:focus-visible {
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
}

a,
button,
input[type="checkbox"],
input[type="checkbox"] + label,
input[type="radio"],
input[type="radio"] + label,
input[type="file"],
input[type="range"],
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"],
select,
textarea,
details,
details > summary:first-of-type {
    cursor: pointer;
}

input[type="text"],
input[type="email"] {
    border: 1px solid var(--clr-border);
    border-radius: var(--radius--md);
    flex-basis: 67%;
    min-height: 40px;
    padding: 6px 12px;
    width: 100%;
}

:where([data-ncqx-scheme="light"]) input[type="text"],
:where([data-ncqx-scheme="light"]) input[type="email"] {
    background-color: var(--clr-white);
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus {
    background-color: var(--clr-eerie-black-1);
}

:where([data-ncqx-scheme="light"]) input[type="text"]:hover,
:where([data-ncqx-scheme="light"]) input[type="email"]:hover,
:where([data-ncqx-scheme="light"]) input[type="text"]:focus,
:where([data-ncqx-scheme="light"]) input[type="email"]:focus {
    background-color: var(--clr-white);
    border-color: var(--clr-night-1);
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid var(--clr-primary);
}

input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

input[type="checkbox"] + label::before {
    background-color: var(--clr-eerie-black-2);
    border: 1px solid var(--clr-grey);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--radius--sm);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:where([data-ncqx-scheme="light"]) input[type="checkbox"] + label::before {
    background-color: var(--clr-seasalt);
    border-color: var(--clr-grey);
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--clr-primary);
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23161616' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
    border-color: var(--clr-primary);
    color: var(--clr-antiflash-white);
    content: "";
}

.bg-grey {
    background-color: var(--clr-grey);
}

.clr-primary {
    color: var(--clr-primary);
}

.clr-grey {
    color: var(--clr-grey);
}

.clr-eerie-black-2 {
    color: var(--clr-eerie-black-2);
}

.logo {
    color: var(--clr-antiflash-white);
}

.capitalize {
    text-transform: capitalize;
}

.bg-primary {
    background-color: var(--clr-primary);
}

.go-to-content {
    background-color: var(--clr-containers);
    transform: translateY(-100%);
}

.go-to-content:focus-within {
    position: relative;
    transform: translateY(0);
}

.breadcrumbs .icon {
    transform: rotate(-180deg);
}

.link-small {
    font-size: 14px;
    color: var(--clr-primary);
    display: flex;
    text-decoration: underline;
    text-underline-offset: 4px;
    opacity: 0.9;
    transition: color 0.2s linear;
}

.link-small:hover,
.link-small:focus {
    color: var(--clr-primary);
    text-underline-offset: 2px;
    opacity: 1;
    transition: all 0.2s linear;
}

.link-small img {
    opacity: 0.75;
    transform: translateX(-1px);
    transition: transform 0.1s linear;
}

.link-small:hover img,
.link-small:focus img {
    opacity: 1;
    transform: translateX(1px);
    transition: transform 0.1s linear;
}

.box {
    border-radius: var(--radius--lg);
    padding: 16px;
}

.bordered {
    border: 1px solid var(--clr-border);
    background-color: var(--bg-layer);
}

.bordered-b {
    border-bottom: 1px solid var(--clr-eerie-black-2);
}

:where([data-ncqx-scheme="light"]) .bordered-b {
    border-color: var(--clr-night-1);
}

.icon {
    object-fit: contain;
}

.tag {
    background-color: var(--clr-primary--night);
    border-radius: var(--radius--sm);
    padding: 4px 8px;
    color: var(--clr-primary);
}

/* Filters */
.filters {
    scrollbar-width: thin;
    scrollbar-color: var(--clr-primary) var(--clr-primary--dark);
    overflow: auto;
    position: relative;
    z-index: 0;
}
.filter-input {
    background: var(--clr-night-2);
    border: 1px solid transparent;
    border-radius: var(--radius--md);
    cursor: pointer;
}

:where([data-ncqx-scheme="light"]) .filter-input {
    background-color: var(--clr-seasalt);
}

.filter-input:hover,
.filter-input:focus {
    background-color: var(--clr-eerie-black-1);
    border-color: var(--clr-primary--dark);
    cursor: pointer;
    background-color: var(--bg-layer);
}

:where([data-ncqx-scheme="light"]) .filter-input:hover,
:where([data-ncqx-scheme="light"]) .filter-input:focus {
    border-color: var(--clr-primary);
}

/* Loading Spinner */
.spinner {
    width: 50px;
    aspect-ratio: 1;
    --_c: no-repeat
        radial-gradient(farthest-side, var(--clr-primary) 92%, transparent);
    background:
        var(--_c) top,
        var(--_c) left,
        var(--_c) right,
        var(--_c) bottom;
    background-size: 8px 8px;
    animation: spin 1s infinite;
}

@keyframes spin {
    to {
        transform: rotate(0.5turn);
    }
}

/* Navbar */
.navullia,
.navullia.__active,
.navullia:hover,
.navullia:focus,
.navullia:not(.__active):hover,
.navullia:not(.__active):focus-visible {
    transition: 0.15s;
}

.navullia {
    display: inline-flex;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: var(--radius--md);
}

div:not(.menu-content) .navullia:hover,
div:not(.menu-content) .navullia:focus-visible {
    background-color: var(--clr-eerie-black-1);
    color: var(--clr-antiflash-white);
}

.navullia.__active {
    background-color: var(--clr-eerie-black-1);
    border: 1px solid transparent;
    color: var(--clr-white);
}

.navullia:not(.__active):hover,
.navullia:not(.__active):focus-visible {
    border-color: var(--clr-primary--dark);
    color: var(--clr-antiflash-white);
}

#menu .menu-content .navullia,
#menu .menu-content .navullia:hover,
#menu .menu-content .navullia:focus-visible,
#menu .menu-content .navullia:not(.__active):hover,
#menu .menu-content .navullia:not(.__active):focus-visible {
    background-color: transparent;
    border-color: transparent;
    color: var(--foreground);
}

.scheme-switcher,
.language-siwtcher {
    border: 1px solid transparent;
    border-radius: var(--radius--max);
    height: 38px;
    width: 38px;
}

.scheme-switcher:hover {
    background-color: #272727;
    box-shadow: 0 0 48px 8px rgba(255, 255, 255, 0.2);
    transition: 0.15s linear;
}

.scheme-switcher img,
.language-siwtcher img {
    margin: auto;
}

#menu-burger {
    display: none;
}

#menu {
    background-color: var(--clr-containers);
    z-index: 1000;
    overflow: hidden;
}

.menu-content {
    background-color: var(--clr-menu-background);
    z-index: 1000;
}

#menu .navullia {
    font-family: var(--font-fam-heading);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}
/* Main */
.main-head {
    border-bottom: 1px solid var(--clr-border);
}

:where([data-ncqx-scheme="light"]) .main-head {
    border-color: var(--clr-night-1);
}

/* Newsletter */
#newsletter {
    background-color: var(--bg-layer);
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
}

#newsletter p {
    color: var(--clr-grey);
}

:where([data-ncqx-scheme="light"]) #newsletter p {
    color: var(--clr-night-1);
}

/* Home */
#home-head h1 {
    font-size: 48px;
}

#home-about {
    background-color: var(--bg-layer);
}

:where([data-ncqx-scheme="light"]) #home-about {
    background-color: transparent;
    border-top: 1px solid var(--clr-night-1);
    border-bottom: 1px solid var(--clr-night-1);
    color: var(--clr-night-1);
}

.home-entry {
    border: 1px solid var(--clr-night-1);
    flex-basis: 100%;
    width: 100%;
}

.home-entry-thumbnail:not(.home-entry-thumbnail-blog) img {
    width: 88px;
    height: 88px;
    min-width: 88px;
    min-height: 88px;
}

:where([data-ncqx-scheme="light"]) .home-entry {
    border-color: var(--clr-border);
}

.home-entry-footer {
    display: none;
}

:where([data-ncqx-scheme="dark"]) #home-entry-photography-latest img,
:where([data-ncqx-scheme="dark"]) #home-entry-photography-favorite img,
:where([data-ncqx-scheme="dark"]) #home-entry-music-latest img,
:where([data-ncqx-scheme="dark"]) #home-entry-music-favorite img,
:where([data-ncqx-scheme="dark"]) #home-entry-blog-latest img,
:where([data-ncqx-scheme="dark"]) #home-entry-blog-favorite img {
    border-radius: 8px;
}

/* Gallery */
.gallery .row:last-child {
    margin-bottom: 0;
}

.gallery .row img {
    object-fit: cover;
}

.gallery .row img:hover {
    cursor: zoom-in;
}

:where([data-ncqx-scheme="dark"]) .gallery-modal-image-container {
    background-color: var(--clr-eerie-black-2);
}

:where([data-ncqx-scheme="light"]) .gallery-modal-image-container {
    background-color: var(--clr-grey);
}

.gallery-modal-description {
    color: var(--clr-antiflash-white);
    flex-basis: 25%;
}

:where([data-ncqx-scheme="dark"]) .gallery-modal-description {
    color: var(--clr-antiflash-white);
}

:where([data-ncqx-scheme="light"]) .gallery-modal-description {
    color: var(--foreground);
}

/* Modal */
.modal-container {
    overflow: scroll;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

:where([data-ncqx-scheme="dark"]) .modal-container {
    background-color: rgba(0, 0, 0, 0.8);
}

:where([data-ncqx-scheme="light"]) .modal-container {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal {
    height: calc(100% - 64px);
    width: calc(100% - 64px);
}

:where([data-ncqx-scheme="dark"]) .modal {
    background-color: var(--clr-night-2);
}

:where([data-ncqx-scheme="light"]) .modal {
    background-color: var(--clr-white);
}

.modal-body {
    overflow: scroll;
}

.modal-close-btn {
    border-radius: 100%;
    color: var(--clr-white);
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

:where([data-ncqx-scheme="dark"]) .modal-close-btn {
    background-color: rgba(34, 34, 34, 0.4);
    color: var(--clr-white);
}

:where([data-ncqx-scheme="light"]) .modal-close-btn {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--clr-night-1);
}

/* Posts */
.post-list {
    flex-wrap: wrap;
}

.post-list-item {
    border-radius: var(--radius--lg);
    flex-basis: calc(50% - 8px);
}

.post-list-item:hover,
.post-list-item:focus {
    background-color: var(--clr-eerie-black-1);
    border-color: var(--clr-primary--dark);
}

:where([data-ncqx-scheme="light"]) .post-list-item:hover,
:where([data-ncqx-scheme="light"]) .post-list-item:focus {
    background-color: var(--clr-seasalt);
    border-color: var(--clr-primary);
}

/* Blog */
.post-list-item-createdAt {
    top: 20px;
    right: calc(33% + 24px);
}

:where([data-ncqx-scheme="light"]) .post-list-item-releaseDate,
:where([data-ncqx-scheme="light"]) .post-list-item-createdAt {
    color: var(--clr-eerie-black-2);
}

.post-list-item-description {
    font-size: 15px;
    line-height: 20px;
}

.post-list-item .post-list-item-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.post-list-item > div > img {
    border-radius: var(--radius--md);
    height: 100%;
    object-fit: cover;
}

/* Responsive */
@media screen and (max-width: 1472px) {
    #home-about {
        gap: 8px;
    }
    #home-about span[class^="max-w-"] {
        max-width: 100%;
    }
    #home-about hr {
        margin: 0;
    }
    #home-about,
    #home-entrys {
        flex-direction: column;
    }
    #home-entrys {
        max-width: 800px;
        gap: 40px;
        margin-inline: auto;
    }
    .post-list {
        max-width: 800px;
        flex-direction: column;
    }
    .modal-body {
        flex-direction: column;
    }
}

@media screen and (max-width: 799px) {
    .header-desktop-content {
        justify-content: flex-start;
    }
    .avatar {
        order: -1;
    }
    #burger {
        display: flex;
        transform: translateX(6px);
    }
    #menu-burger {
        display: flex;
    }
    #navbar {
        display: none;
    }
    :where([data-ncqx-scheme="dark"]) .modal-container {
        background-color: var(--clr-night-2);
        border-radius: 0;
    }
    :where([data-ncqx-scheme="light"]) .modal-container {
        background-color: var(--clr-white);
    }
    .modal {
        position: unset;
    }
    .modal-container {
        padding: 0;
    }
    .modal {
        margin: 0;
        height: auto;
        width: 100%;
    }
    .modal-close-btn {
        top: auto;
        bottom: 16px;
        right: calc(50% - 20px);
    }
    .gallery-modal-image-container {
        flex-basis: unset;
    }
}

@media screen and (max-width: 671px) {
    h2 {
        font-size: 20px;
    }
    #home-about {
        align-items: flex-start;
    }
    #home-about p {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .home-entry-head a {
        display: none;
    }
    .home-entry-footer {
        display: block;
    }
    footer > div > div > ul {
        flex-direction: column;
        gap: 48px;
    }
    .post-list-item {
        flex-direction: column;
        gap: 0;
    }
    .post-list-item > div:last-of-type {
        order: -1;
    }
    .post-list-item > div > img {
        height: 250px;
    }
    .post-list-item-createdAt {
        top: auto;
        right: 24px;
    }
}

@media screen and (max-width: 499px) {
    main {
        margin-top: 0;
    }
    #newsletter form {
        flex-direction: column;
    }
}

@media screen and (max-width: 380px) {
    .home-entry-thumbnail:not(.home-entry-thumbnail-blog) a {
        flex-basis: calc(50% - 8px);
        height: 100%;
    }
    .home-entry-thumbnail a:nth-child(n + 5),
    .home-entry-thumbnail a:nth-child(n + 5) {
        display: none;
    }
    .home-entry-thumbnail:not(.home-entry-thumbnail-blog) img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
    }
    #newsletter form {
        flex-direction: column;
    }
}
